.ImageGallery {
  display: grid;

  max-width: calc(100vw - 48px);

  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));

  grid-gap: 16px;
  margin-top: 10px;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}

.closeBtn {
  display: none;
}

.modal__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
